.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x :30px;
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container,
    .container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1470px
    }
}
.row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

@media (min-width: 1200px){
.col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
}

@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
}

@media (min-width: 992px){
.col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%
}
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
}

@media (min-width: 1400px){
.col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}
.col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
}
}
@media only screen and (min-width:1200px) and (max-width:1399px) {
    .header-brand {
        margin-left: 40px
    }
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
    .header-meta {
        margin-left: 0
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px)
{
.cat-menu__category>a {
    min-width: 100%;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
.category-menu-off {
    display: none;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
.cat-menu__list li>a {
    padding: 9px 15px 5px;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
.main-menu ul>li {
    margin-right: 22px;
}

}